@media(max-width:568px) {
    .container {
        padding: 0 10px;
    }
    .service_container{
        grid-template-columns: 1fr;
    }
    .about-container{
        grid-template-columns: 1fr;
    }
    .choose_container {
        grid-template-columns: 1fr;
    }
    .getLoan_container{
        grid-template-columns: 1fr;
    }
    .news-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .footBoxs:nth-child(2),
    .footBoxs:nth-child(3) {
        justify-self: left;
    }
    .copyright{
        padding-top: 50px;
    }
}