@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --background-light: #F4FCFA;
    --background-dark: #26BE9F;
    --color-line: #10C98F;
    --white: #fff;
    --Text-dark: #0F4332;
    --text-light: #6D6D6D;
    --Para-color: #4C5753;
    --icons: #212529;
}

/* ---------- Global-classes---------- */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1225px;
    margin: auto;
    padding: 0 30px;
}

/* ---------- /Global-classes---------- */

/* ---------- Header-classes---------- */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10000;
}

header.sticky {
    background-color: var(--background-dark);
}

.logo img {
    width: 150px;
}

.navbar {
    max-width: 1225px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu a {
    color: var(--background-light);
    font-size: 1.6rem;
    font-weight: 400;
}

.navBtn {
    margin-left: 30px;
    background-color: #10C98F;
    color: #fff;
    width: 180px;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5;
}

.drop-menu {
    position: absolute;
    width: 180px;
    top: 100px;
    background-color: #fff;
    padding: 20px 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.drop-menu li{
    padding: 5px 5px;
}

.nav-menu input {
    display: none;
}

.mobile-item {
    display: none;
}

.drop-menu a {
    line-height: 1.8;
    font-size: 1.6rem;
    color: #0F4332;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

.drop-menu a:hover {
    color: #10C98F;
    margin-left: 5px;
}

.nav-menu li:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    top: 70px;
}

.hamburger {
    display: none;
}

.hamburger .line {
    width: 35px;
    height: 3px;
    margin: 6px;
    background-color: #fff;
}

/* ---------- /Header-classes---------- */

/* ---------- Hero-section---------- */
.hero {
    background: url(/images/h1_hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.h-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #26BE9F;
}
.hero-container{
    position: relative;
    top: 30%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    max-width: 1225px;
    margin: auto;
    padding: 0 30px;
    z-index: 1000;
}
.hero-left{
    height: auto;
}
.hero-left h1{
    font-size: 6rem;
    width: 80%;
    color: #fff;
    padding-bottom: 40px;
}
.hero-left h1::before{
    position: absolute;
    content: '';
    top: 230px;
    width: 150px;
    height: 4px;
    background-color: #fff;
}
.hero-left p{
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.5;
    padding-bottom: 30px;
}
.hero-left-btn{
    width: 180px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.hero-left-btn:hover{
    background-color: #10C98F;
    border: 1px solid #10C98F;
}
.hero-right{
    width: 80%;
    justify-self: right;
    height: auto;
    background-color: #ffff;
}
.hero-right-content{
    padding: 80px 50px;
}
.hero-right-content h2{
    font-size: 3.5rem;
    text-align: center;
    color: #0F4332;
    padding-bottom: 10px;
}
.hero-right-content p{
    font-size: 1.6rem;
    text-align: center;
    color: #0F4332;
}
.hero-right-content{
    padding: 50px;
}
.select-Box{
    padding-top: 35px;
}
.select-Box span{
    display: block;
    font-size: 1.4rem;
    padding-bottom: 5px;
}
.select-Box select {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.hero-btn{
    width: 100%;
    padding: 15px;
    color: #ffff;
    background-color: #10C98F;
    border: none;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
}
.hero-right-content h3{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 15px;
    color: #6D6D6D;
}
/* ---------- Hero-section---------- */

/* ---------- Service-section---------- */
.service{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service .title p {
    padding-top: 50px;
    font-size: 1.6rem;
    color: var(--Para-color);
    width: 45%;
    text-align: center;
    line-height: 1.6;
}
.service_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.serviceBoxs{
    width: 100%;
    height: 100%;
}
.service-icon{
    width: 50px;
    padding-bottom: 10px;
}
.service-icon img{
    padding-bottom: 20px;
}
.serviceBoxs h2{
    font-size: 2rem;
    font-weight: 500;
    color: #0F4332;
    padding-bottom: 20px;
}
.service-content h3{
    font-size: 2rem;
    text-align-last: left;
    padding-bottom: 10px;
    color: #0F4332;
}
.service-content p{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--Para-color);
}
/* ---------- /Service-section---------- */

/* ---------- about-section---------- */
.about {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #e4f1ed;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}

.aboutLeft-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.s-overlay {
    background-color: var(--color-line);
    color: #fff;
    width: 250px;
    height: 200px;
    bottom: -50px;
    right: -40px;
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s-overlay span {
    font-size: 6rem;
    font-weight: 600;
}

.s-overlay p {
    font-size: 1.6rem;
}

.aboutRight h2 {
    font-size: 4rem;
    color: var(--Text-dark);
}

.aboutRight p {
    padding-top: 20px;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--text-light);
    padding-bottom: 20px;
}

.aboutRight-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.bottom-items p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--Text-dark);
    position: relative;
    margin-left: 50px;
}

.bottom-items p::before {
    position: absolute;
    content: '';
    width: 20px;
    left: -50px;
    top: 25px;
    height: 20px;
    border-radius: 50%;
    background-color: #10C98F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bottom-items .btn {
    position: relative;
    top: 30px;
    width: 200px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--background-dark);
    padding: 20px 50px;
    border: 2px solid #26BE9F;
    text-align: center;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.bottom-items .btn:hover{
    color: #fff;
    background-color: #10C98F;
}
/* ---------- /about-section---------- */

/* ---------- choose-section---------- */
.choose {
    width: 100%;
    height: auto;
    background-color: var(--background-light);
    padding: 100px 0px;
}

.choose_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 20px;
}
.choose-img img{
    width: 100px;
}

.chooseBoxs h3 {
    font-size: 2rem;
    color: var(--Text-dark);
    padding-top: 20px;
}

.chooseBoxs p {
    padding-top: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--Para-color);
}

/* ---------- /choose-section---------- */

/* ---------- getLoan-section---------- */
.getLoan {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #e4f1ed;
}

.getLoan_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.getLoanleft {
    align-self: center;
}

.getLoanleft h2 {
    font-size: 4rem;
    color: var(--Text-dark);
    padding-bottom: 20px;
}

.getLoanleft p {
    font-size: 1.8rem;
    color: var(--text-light);
    padding-bottom: 30px;
    line-height: 1.5;
}

.getLoan-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.getLoan-bottom p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--Text-dark);
    position: relative;
    margin-left: 50px;
}

.getLoan-bottom p::before {
    position: absolute;
    content: '';
    width: 20px;
    left: -50px;
    top: 5px;
    height: 20px;
    border-radius: 50%;
    background-color: #10C98F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.getLoan-bottom .btn {
    margin-top: 0px;
    width: 200px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--background-dark);
    padding: 20px;
    border: 2px solid #26BE9F;
    text-align: center;
}
.getLoan-bottom .btn:hover{
    color: #fff;
    background-color: #10C98F;
}
/* ---------- /getLoan-section---------- */

/* ---------- testimonial-section---------- */
.testimonial {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: #0F4332;
}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 0px;
}

.card {
    width: auto;
    height: auto;
    padding: 50px 20px;
    background-color: #F4FCFA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card p {
    color: var(--Para-color);
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.card-bottom {
    padding: 40px 20px;
    text-align: center;
}

.owl-carousel .owl-item img {
    display: block;
    width: 20% !important;
    margin: auto;
}

.card-info {
    padding-top: 20px;
}

.card-info h3 {
    padding-top: 10px;
    font-size: 1.8rem;
    color: var(--Text-dark);
}

.card-info p {
    padding-top: 10px;
    font-size: 1.6rem;
    color: var(--Para-color);
}

/* ---------- testimonial-section---------- */

/* ---------- news-classes---------- */
.news {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.title h2 {
    color: var(--Text-dark);
    font-size: 4rem;
    text-align: center;
    position: relative;
}

.title p {
    padding-top: 50px;
    font-size: 1.6rem;
    color: var(--Para-color);
    width: 25%;
    text-align: center;
    line-height: 1.6;
}

.title h2::after {
    content: '';
    position: absolute;
    width: 120px;
    top: 70px;
    height: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-line);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.newsBoxs {
    width: 100%;
}

.news-top {
    width: 100%;
    height: auto;
}

.news-bottom {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.news-bottom span {
    font-size: 1.6rem;
    color: #a4aca9;
}

.news-bottom h3 {
    color: var(--Text-dark);
    font-size: 2.5rem;
}

.news-bottom p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--Para-color);
}

/* ---------- news-classes---------- */

/* ---------- contact-classes---------- */
.contact{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-left{
    width: 100%;
    height: auto;
}
.contact-left iframe{
    width: 100%;
    height: 420px;  
}
.contact-right{
    height: auto;
    padding: 20px;
}
.contact-form{
    width: 100%;
    height: auto;
    padding: 0 10pz;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form form textarea{
    width: 100%;
    resize: none;
    outline: none;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.contact-form form input{
    width: 100%;
    resize: none;
    outline: none;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.formbox-50{
    display: flex;
    gap: 10px;
}
.formbox-50 input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.contact-btn{
    padding: 15px;
    font-size: 1.6rem;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #10C98F;
}
/* ---------- /contact-classes---------- */

/* ---------- Footer-classes---------- */
footer {
    background-color: var(--background-light);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-bottom: 50px;
}

.footBoxs:nth-child(2),
.footBoxs:nth-child(3) {
    justify-self: center;
}

.foot-para p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--Para-color);
}

.foot-titles {
    padding-bottom: 30px;
}
.foot-titles img{
    width: 150px;
}

.foot-titles h2 {
    font-size: 2.2rem;
    color: var(--Text-dark);
}

.foot-icons {
    padding-top: 30px;
}

.foot-icons ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.foot-icons a {
    font-size: 2rem;
    color: var(--icons);
}

.footlinks ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footlinks a {
    font-size: 1.6rem;
    color: var(--Para-color);
}

.footLinkes p {
    font-size: 1.8rem;
    width: 100%;
    line-height: 1.8;
    padding-bottom: 20px;
    color: var(--Para-color);
}

.footLinkes form {
    display: flex;
}

.footLinkes form input {
    padding: 15px;
    width: 100%;
    border: 1px solid #26BE9F;
    outline: none;
}

.footLinkes form img {
    padding: 15px;
    background-color: #10C98F;
    cursor: pointer;
    width: 50px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.copyright p {
    font-size: 1.6rem;
    color: var(--Para-color);
}

.copyright span,
.copyright i {
    color: var(--background-dark);
}

#myBtn {
    position: fixed;
    background-color: #10C98F;
    right: 50px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    border: none;
    display: none;
    z-index: 1000;
}

#myBtn i {
    color: #F4FCFA;
    font-size: 2rem;
}
/* ---------- /Footer-classes---------- */